---
import integrationsImg from "../../assets/integrations.svg";
---

<section
  id="integrations"
  class="flex flex-col items-center justify-center gap-2.5 px-[34px] py-[96px] relative bg-white w-fit mx-auto"
>
  <div
    class="flex flex-col max-w-[var(--4-widths-width-xl)] items-center gap-[var(--3-spacing-spacing-2xl)] relative w-full flex-[0_0_auto]"
  >
    <h2
      class="relative self-stretch mt-[-1.00px] bg-[linear-gradient(180deg,rgba(54,145,255,1)_0%,rgba(3,30,229,1)_100%)] [-webkit-background-clip:text] bg-clip-text [-webkit-text-fill-color:transparent] [text-fill-color:transparent] font-text-md-semibold font-[number:var(--text-md-semibold-font-weight)] text-transparent text-[length:var(--text-md-semibold-font-size)] text-center tracking-[var(--text-md-semibold-letter-spacing)] leading-[var(--text-md-semibold-line-height)] [font-style:var(--text-md-semibold-font-style)]"
    >
      Integrations
    </h2>
    <h1
      class="relative w-[768px] top-0 left-0 font-inter font-semibold text-[#181d27] text-4xl text-center tracking-[-0.72px] leading-[44px]"
    >
      Get more value
    </h1>
    <p
      class="relative self-stretch pt-2 pb-5 text-center text-gray-600 [font-weight:var(--text-xl-regular-font-weight)] text-[length:var(--text-xl-regular-font-size)] tracking-[var(--text-xl-regular-letter-spacing)] leading-[var(--text-xl-regular-line-height)] [font-style:var(--text-xl-regular-font-style)]"
    >
      We leverage modern technologies and trusted partnerships
    </p>
  </div>
  <img
    class="relative w-[1342px] h-[674.24px] aspect-[1.99] object-cover"
    alt="Integration partners and technologies showcase including Shopify, Next.js, Firebase, React, and other modern web development tools"
    src={integrationsImg.src}
  />
</section>
