---
const { title, description, image } = Astro.props;
---

<article class="flex flex-col w-[1280px] items-start relative flex-[0_0_auto]">
  <div
    class="flex flex-col items-start gap-[23px] relative self-stretch w-full flex-[0_0_auto]"
  >
    <picture>
      <img src={image} alt="feature project" />
    </picture>
    <header
      class="inline-flex flex-col min-w-[1280px] items-start justify-center gap-0 relative flex-[0_0_auto]"
    >
      <p
        class="relative w-fit font-sans font-medium text-[#666666] text-lg tracking-[0] leading-[25.2px] whitespace-nowrap"
      >
        {title}
      </p>
      <h1
        class="relative w-fit mt-[-1.00px] font-sans font-medium text-black text-2xl tracking-[0] leading-[33px] whitespace-nowrap"
      >
        {description}
      </h1>
    </header>
  </div>
</article>
