---
import TitleBlock from "./TitleBlock.astro";
import technology1 from "../../assets/our-technologies/tech-1.svg";
import technology2 from "../../assets/our-technologies/tech-2.svg";
import technology3 from "../../assets/our-technologies/tech-3.svg";
import technology4 from "../../assets/our-technologies/tech-4.svg";
import TechItem from "./TechItem.astro";
import LastItem from "./LastItem.astro";

const technologies = [
  {
    id: 1,
    title: "Blockchain",
    description:
      "Integrating blockchain into our digital services—design, development, SEO, SMM, AI—ensures secure, transparent operations, boosts efficiency, and drives smarter business decisions.",
    image: technology1.src,
    imageClasses: "absolute w-44 h-[195px] top-0 left-[238px] aspect-[0.99]",
  },
  {
    id: 2,
    title: "Cryptocurrencies",
    description:
      "We build and manage crypto platforms that support secure trading, wallet integration, and real-time data – empowering users in the decentralized finance space.",
    image: technology2.src,
    imageClasses:
      "w-[247px] h-[223px] left-[167px] aspect-[1.66] absolute top-0",
  },
  {
    id: 3,
    title: "AI",
    description:
      "Using advanced AI, we automate processes, personalize user experiences, and deliver intelligent insights that drive smarter decisions and greater efficiency.",
    image: technology3.src,
    imageClasses:
      "w-[299px] h-[267px] left-[115px] aspect-[1.3] absolute top-0",
  },
  {
    id: 4,
    title: "Apps",
    description:
      "Our mobile and web apps are user-friendly, scalable, and built to solve real-world problems with intuitive design and seamless performance across platforms.",
    image: technology4.src,
    imageClasses: "w-[414px] h-[458px] left-0 object-cover absolute top-0",
  },
];
---

<section
  id="our-technologies"
  class="flex flex-col items-center justify-center gap-2.5 px-[34px] py-24 relative bg-white w-fit mx-auto"
>
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
    <TitleBlock />
    {
      technologies.map((tech) => (
        <TechItem
          title={tech.title}
          description={tech.description}
          image={tech.image}
        />
      ))
    }
    <LastItem />
  </div>
</section>
