---

---

<article
  class="inline-flex flex-col items-start pb-[314px] px-0 w-[414px] h-[515px] overflow-hidden relative"
>
  <div class="flex flex-col w-[400px] items-start gap-[17px] relative">
    <div class="inline-flex items-center gap-2 relative flex-[0_0_auto]">
      <div class="relative w-1.5 h-1.5 bg-[#0050ff] rounded-[3px]"></div>
      <div
        class="relative w-fit mt-[-1.00px] font-sans font-semibold text-[#405370] text-sm tracking-[0] leading-[normal]"
      >
        Our Technologies
      </div>
    </div>
    <div
      class="relative w-fit font-sans font-semibold text-black text-[54px] tracking-[0] leading-[normal]"
    >
      WE USE
    </div>
    <div
      class="relative w-fit font-sans font-semibold text-black text-[54px] tracking-[0] leading-[normal]"
    >
      ADVANCED
    </div>
    <div
      class="relative w-fit font-sans font-semibold text-[#0050ff] text-[54px] tracking-[0] leading-[normal]"
    >
      TECHNOLOGIES
    </div>
  </div>
</article>
