---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import NavBar from "../components/navbar/NavBar.astro";
import Hero from "../components/hero/Hero.astro";

import "../styles/global.css";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import CaseStudiesPage from "./case-studies/CaseStudiesPage.astro";
import AboutUsPage from "./about-us/AboutUsPage.astro";
import OurTechnologiesPage from "./our-technologies/OurTechnologiesPage.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <NavBar />
    <Hero />
    <CaseStudiesPage />
    <AboutUsPage />
    <OurTechnologiesPage />
    <div class="block md:hidden">Mobile layout</div>
    <div class="hidden md:block lg:hidden">Tablet layout</div>
    <div class="hidden lg:block">Desktop layout</div>
    <Footer />
  </body>
</html>
