---
import aboutUsImage from "../../assets/aboutUsImage.svg";

const mainText = {
  primary:
    "For over a decade, we've crafted digital solutions with clarity and precision. From websites and apps",
  secondary:
    "to AI tools and strategies, our team delivers results at scale. With 60+ projects launched globally, we blend purpose-driven design with smart execution to help businesses grow.",
  callToAction: "Let's build what's next.",
};
---

<section
  id="about-us"
  class="flex flex-col items-center justify-center gap-[10px] md:px-[32px] lg:px-[34px] py-[96px] relative bg-white w-fit mx-auto"
>
  <div
    class="grid grid-cols-1 lg:grid-cols-2 gap-[29px] lg:gap-[27px] px-[12px] py-[24px] md:p-[24px] self-stretch w-full bg-[#f2f8ff] rounded-[32px] relative"
  >
    <div class="inline-flex flex-col items-start gap-8 rounded-[32px] relative">
      <p
        class="relative mt-[-1.00px] font-sans font-medium text-transparent text-[20px] md:text-[38px] tracking-[0] leading-[27px] md:leading-[38px]"
      >
        <span class="text-black"> {mainText.primary} </span>
        <br />
        <br />
        <br />
        <span class="text-[#b1b1b2]">
          {mainText.secondary}
        </span>
      </p>

      <div class="inline-flex items-center justify-center relative">
        <h2
          class="relative w-fit -mt-px bg-gradient-to-l from-[#3691ff] to-[#031ee5] bg-clip-text text-transparent font-sans font-medium text-[20px] md:text-[38px] leading-[27px] md:leading-[38px] whitespace-nowrap"
        >
          {mainText.callToAction}
        </h2>
      </div>
    </div>

    <img
      class="relative w-full h-full lg:max-h-[638px] aspect-[1] object-cover"
      alt="Digital security and technology visualization showing a glowing lock icon surrounded by circuit patterns and binary code"
      src={aboutUsImage.src}
    />
  </div>
</section>
