---
import menuMobile from "../../assets/navbar/menu-mobile.svg";
import Logo from "./Logo.astro";
---

<div
  class="md:hidden flex items-center justify-between w-full p-1 relative bg-[#ffffff1a] rounded-xl border border-solid border-[#0000000f]"
>
  <Logo />
  <button
    class="flex-col items-start relative flex-[0_0_auto] bg-[#13151a] rounded-lg overflow-hidden border border-solid border-[#26282c] cursor-pointer"
    aria-label="Toggle menu"
    type="button"
  >
    <img
      class="w-full h-full"
      alt=""
      src={menuMobile.src}
      role="presentation"
    />
  </button>
</div>
