---

---

<div
  class="hidden md:block gap-[13px] mr-[-0.27px] inline-flex items-center relative flex-[0_0_auto]"
>
  <a
    class="h-9 gap-2 px-3.5 py-2 bg-[#14161b] rounded-[10px] border border-solid border-[#26282d] inline-flex items-center relative flex-[0_0_auto] hover:bg-[#1a1c21] transition-colors focus:outline-2 focus:outline-offset-2 focus:outline-white"
    type="button"
    aria-label="Contact us"
  >
    <div
      class="relative w-1.5 h-1.5 bg-[#00ff4d] rounded-[3px] shadow-[0px_0px_3.7px_-1px_#00ff4c]"
      role="presentation"
      aria-hidden="true"
    >
    </div>
    <span
      class="relative w-fit mt-[-0.50px] [font-family:'Manrope-Bold',Helvetica] font-bold text-white text-sm tracking-[0] leading-[normal]"
    >
      Reach Out
    </span>
  </a>
</div>
