---
import SingleProject from "./components/SingleProject.astro";
import GridProjects from "./components/GridProjects.astro";
import firstProject from "../../assets/case-studies/first-project.svg";
import lastProject from "../../assets/case-studies/last-project.svg";
---

<section
  id="case-studies"
  class="flex flex-col items-center justify-center gap-[40px] md:gap-[60px] px-[16px] md:px-[80px] pt-[96px] pb-[32px] md:pb-[96px] relative bg-white"
>
  <SingleProject
    title="Banking App"
    description="UI Concept Cubekit Banking"
    image={firstProject.src}
  />
  <GridProjects />
  <SingleProject
    title="Philippines Web"
    description="Philippines Website"
    image={lastProject.src}
  />
</section>
